<!DOCTYPE html>

<html>

<head>
    <title>
        AddNote
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <h1 class="text-center p-5 bg-light">
        Add Notes on this Page
    </h1>
    <a href="/">
        <button class="btn btn-warning">
            Back to Home
        </button>
    </a>
    
    <form method="POST">
        <input type="text" name = "Note Author" placeholder = "Author of Note" class = "form-control">
        <input type="text" name = "Note Content" placeholder = "Enter note here" class = "form-control">
        <input type="submit" value = "Add Note" class = "btn btn-light w-100">

    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html>