<!DOCTYPE html>

<html>

<head>
    <title>
        Index
    </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <h1 class="text-center p-5 bg-light">
        My Notes
    </h1>
    <a href="/addnote">
        <button class="btn btn-info btn-lg btn-block w-100 my-4">
            Add New Note
        </button>
    </a>
   <a href="/shownotes">
    <button class="btn btn-warning btn-lg btn-block w-100">
        Show Existing Notes
    </button>
   </a>
   

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html>